Code to modify/testtrellobot/src/main/app/integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="List-All-Boards-Action">
		<flow-ref name="List-All-Boards" doc:name="List-All-Boards" />
		<dw:transform-message doc:name="Get Boards Name">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map $.name]]></dw:set-payload>
		</dw:transform-message>
		<expression-component doc:name="Set Result Value"><![CDATA[flowVars['resultantAction'] = payload.toString().replace('[','').replace(']','').replace(',', '\n - ')]]></expression-component>
		<logger message="#[flowVars['resultantAction']]" level="INFO"
			doc:name="Logger" />
	</flow>
	<flow name="List-All-Lists-In-Boards-Action">
		<set-variable variableName="boardName" value="#['hsddj']"
			doc:name="Set Board Name" />
		<flow-ref name="List-All-Boards" doc:name="List-All-Boards" />
		<dw:transform-message doc:name="Get Board Id">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload filter ($.name == flowVars.boardName) map $.id]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
		<choice doc:name="Check Paylaod">
			<when expression="#[payload != []]">
				<set-variable variableName="board_id" value="#[payload[0]]"
					doc:name="Set Board Id" />
				<flow-ref name="List-all-lists-By-BoardId" doc:name="List-all-lists-By-BoardId" />
				<dw:transform-message doc:name="Get List Names">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map $.name]]></dw:set-payload>
				</dw:transform-message>
				<expression-component doc:name="Set Resultant Action"><![CDATA[flowVars['resultantAction'] = payload.toString().replace('[','').replace(']','').replace(',', '\n - ')]]></expression-component>
			</when>
			<otherwise>
				<set-variable variableName="resultantAction"
					value="#['Please Check The Board Name']" doc:name="Set Resultant Action" />
			</otherwise>
		</choice>
		<logger message="#[flowVars['resultantAction']]" level="INFO"
			doc:name="Logger" />
	</flow>
	<flow name="List-Members-On-Boards-Action">
		<set-variable variableName="boardName" value="#['Two_Way Board']"
			doc:name="Set Board Name" />
		<flow-ref name="List-All-Boards" doc:name="List-All-Boards" />
		<dw:transform-message doc:name="Get Board Id">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload filter ($.name == flowVars.boardName) map $.id]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
        <choice doc:name="Check Payload">
            <when expression="#[payload != []]">
                <set-variable doc:name="Set Board Id" value="#[payload[0]]" variableName="board_id"/>
                <flow-ref name="List-Members-On-Board" doc:name="List-Members-On-Board"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map $.fullName]]></dw:set-payload>
                </dw:transform-message>
                <expression-component doc:name="Set Resultant Action"><![CDATA[flowVars['resultantAction'] = payload.toString().replace('[','').replace(']','').replace(',', '\n - ')]]></expression-component>
            </when>
            <otherwise>
                <set-variable doc:name="Set Resultant Action" value="#['Please Check The Board Name']" variableName="resultantAction"/>
            </otherwise>
        </choice>
        <logger message="#[flowVars.resultantAction]" level="INFO" doc:name="Logger"/>
	</flow>
    <flow name="Get-Board-Details-By-BoardId-Action">
    	<set-variable variableName="boardName" value="#['Two_Way Board']"
			doc:name="Set Board Name" />
		<flow-ref name="List-All-Boards" doc:name="List-All-Boards" />
		<dw:transform-message doc:name="Get Board Id">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload filter ($.name == flowVars.boardName) map $.id]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
        <choice doc:name="Check Payload">
            <when expression="#[payload != []]">
                <set-variable doc:name="Set Board Id" value="#[payload[0]]" variableName="board_id"/>
                <enricher target="#[flowVars['membersResponse']]" doc:name="Message Enricher">
                    <flow-ref name="List-Members-On-Board" doc:name="List-Members-On-Board"/>
                </enricher>
                <set-variable variableName="membersArray" value="#[new java.util.ArrayList()]" doc:name="Set Members Array"/>
                <foreach collection="#[flowVars['membersResponse']]" doc:name="Loop All User's">
                    <expression-component doc:name="Add User Names"><![CDATA[flowVars.membersArray.add(payload['fullName'])]]></expression-component>
                </foreach>
                <choice doc:name="Choice">
                    <when expression="#[flowVars['membersArray'].size() &gt; 1]">
                        <expression-component doc:name="Expression"><![CDATA[flowVars['test'] = flowVars.membersArray.toString().substring(1,flowVars.membersArray.toString().length()-1);
flowVars['boardMembers'] = test.substring(0,test.lastIndexOf(",")) + " and"+ test.substring(test.lastIndexOf(",")+1)
]]></expression-component>
                    </when>
                    <otherwise>
                        <set-variable variableName="boardMembers" value="#[flowVars['membersArray'][0]]" doc:name="Set Board Members"/>
                    </otherwise>
                </choice>
                <logger message="membersArray = #[flowVars.membersArray]" level="INFO" doc:name="Logger"/>
                <flow-ref name="Get-Board-Details-By-Id" doc:name="Get-Board-Details-By-Id"/>
                <set-variable variableName="resultantAction" value="#[' Id: '+payload['id']+' \n- Name: '+payload['name']+'  \n - Closed: '+payload['closed']+' \n - ShortUrl: '+payload['shortUrl']+' \n - PermissionLevel: '+payload['prefs']['permissionLevel']+' \n - Members: '+flowVars.boardMembers+'   ']" doc:name="Set Resultant Action"/>
            </when>
            <otherwise>
                <set-variable doc:name="Set Resultant Action" value="#['Please Check The Board Name']" variableName="resultantAction"/>
            </otherwise>
        </choice>
        <logger message="#[flowVars.resultantAction]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Add-Board-Action">
        <set-variable variableName="boardName" value="#['Eidiko_Test@12346']" doc:name="Set Board Name"/>
        <enricher target="#[flowVars['addBoardResponse']]" doc:name="Message Enricher">
            <flow-ref name="Add-Board" doc:name="Add-Board"/>
        </enricher>
        <logger message="Add Board Responae = #[flowVars['addBoardResponse']]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Check Http Status">
            <when expression="#[flowVars['addBoardResponse']['statusFromAPI'] == 200]">
                <set-variable variableName="resultantAction" value="#[' Board '+flowVars['addBoardResponse']['APIResponse']['name']+' created successfully \n - BoardUrl: '+flowVars['addBoardResponse']['APIResponse']['url']+'  \n - ShortUrl: '+flowVars['addBoardResponse']['APIResponse']['shortUrl']+'  ']" doc:name="Set Resultant Action"/>
            </when>
            <otherwise>
                <set-variable variableName="resultantAction" value="#['Encountered an error']" doc:name="Set Resultant Action"/>
            </otherwise>
        </choice>
        <logger message="#[flowVars['resultantAction']]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Close-Board-Action">
        <set-variable variableName="boardName" value="#['Sample_Test']"
			doc:name="Set Board Name" />
		<flow-ref name="List-All-Boards" doc:name="List-All-Boards" />
		<dw:transform-message doc:name="Get Board Id">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload filter ($.name == flowVars.boardName) map $.id]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
        <choice doc:name="Choice">
            <when expression="#[payload != []]">
                <set-variable variableName="board_id" value="#[payload[0]]" doc:name="Set Board Id"/>
                <enricher target="#[flowVars['closeBoardResponse']]" doc:name="Message Enricher">
                    <flow-ref name="Board-Closed" doc:name="Board-Closed"/>
                </enricher>
                <logger message="#[payload] ++++++++ #[flowVars['closeBoardResponse']]" level="INFO" doc:name="Logger"/>
                <choice doc:name="Check API Status">
                    <when expression="#[flowVars['closeBoardResponse']['statusFromAPI'] == 200]">
                        <set-variable variableName="resultantAction" value="#['Successfully closed the board']" doc:name="Set Resultant Action"/>
                    </when>
                    <otherwise>
                        <set-variable variableName="resultantAction" value="#['Encountered an error']" doc:name="Set Resultant Action"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <set-variable variableName="resultantAction" value="#['Please Check The Board Name']" doc:name="Set Resultant Action"/>
            </otherwise>
        </choice>
        <logger message="#[flowVars.resultantAction]" level="INFO" doc:name="Logger"/>
    </flow>
    
    
    <flow name="UnClose-Board-Action">
        <set-variable variableName="boardName" value="#['Sample_Test']"
			doc:name="Set Board Name" />
		<flow-ref name="List-All-Boards" doc:name="List-All-Boards" />
		<dw:transform-message doc:name="Get Board Id">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload filter ($.name == flowVars.boardName) map $.id]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
        <choice doc:name="Choice">
            <when expression="#[payload != []]">
                <set-variable variableName="board_id" value="#[payload[0]]" doc:name="Set Board Id"/>
                <enricher target="#[flowVars['closeBoardResponse']]" doc:name="Message Enricher">
                    <flow-ref name="Board-Un-Closed" doc:name="Board-Un-Closed"/>
                </enricher>
                <logger message="#[payload] ++++++++ #[flowVars['closeBoardResponse']]" level="INFO" doc:name="Logger"/>
                <choice doc:name="Check API Status">
                    <when expression="#[flowVars['closeBoardResponse']['statusFromAPI'] == 200]">
                        <set-variable variableName="resultantAction" value="#['Successfully unclosed the board']" doc:name="Set Resultant Action"/>
                    </when>
                    <otherwise>
                        <set-variable variableName="resultantAction" value="#['Encountered an error']" doc:name="Set Resultant Action"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <set-variable variableName="resultantAction" value="#['Please Check The Board Name']" doc:name="Set Resultant Action"/>
            </otherwise>
        </choice>
        <logger message="#[flowVars.resultantAction]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
