Updated project Code/Runtime-code/runtime(added dwk-scripts and exception for all flows)(17-Jan-2017=8-25PM)/src/main/app/dropbox-cursor-settings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="getAllDropboxSettings">
		<db:select config-ref="MySQL_Configuration" doc:name="SELECT ALL Settings">
			<db:parameterized-query><![CDATA[SELECT * FROM DROPBOX_CURSOR_SETTINGS WHERE user_id = #[flowVars['userId']]]]></db:parameterized-query>

		</db:select>
		<dw:transform-message doc:name="Transform DB Obj to Java">
			<dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in getAllDropboxSettings = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
	<flow name="postDropboxCursorSettings">
		<dw:transform-message doc:name="Transform Message to Java">
			<dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl" />
		</dw:transform-message>
		<db:insert config-ref="MySQL_Configuration" doc:name="INSERT Settings">
			<db:parameterized-query><![CDATA[INSERT INTO DROPBOX_CURSOR_SETTINGS (token_id, user_id, cursor_id) VALUES (#[payload['tokenId']], #[payload['userId']], #[payload['cursorId']])]]></db:parameterized-query>
		</db:insert>

		<dw:transform-message doc:name="Build Success Response">
			<dw:input-payload
				doc:sample="classpath:dwScripts/buildInsertDropboxSettingsSuccess.dwl"
				mimeType="application/java" />
			<dw:set-payload
				resource="classpath:dwScripts/buildInsertDropboxSettingsSuccess.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in postDropboxCursorSettings = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
	<flow name="putDropboxCursorSettings">
		<dw:transform-message doc:name="Transform Message">
			<dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl" />
		</dw:transform-message>
		<db:update config-ref="MySQL_Configuration" doc:name="UPDATE Settings">
			<db:parameterized-query><![CDATA[UPDATE DROPBOX_CURSOR_SETTINGS SET
cursor_id = IF (#[payload['cursorId'] != empty], #[payload['cursorId']], cursor_id)
WHERE user_id = #[flowVars['userId']]]]></db:parameterized-query>

		</db:update>

		<dw:transform-message doc:name="Build Success Response">
			<dw:input-payload
				doc:sample="classpath:dwScripts/buildUpdateDropboxSettingsSuccessResponse.dwl"
				mimeType="application/java" />
			<dw:set-payload
				resource="classpath:dwScripts/buildUpdateDropboxSettingsSuccessResponse.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in putDropboxCursorSettings = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
	<flow name="getDropboxTokenSettings">

		<db:select config-ref="MySQL_Configuration" doc:name="Get Token Details">
			<db:parameterized-query><![CDATA[SELECT * FROM INTEGRATION_INSTANCES WHERE instance_uuid = #[flowVars['instanceUuid']]]]></db:parameterized-query>

		</db:select>
		<dw:transform-message doc:name="Build Token Response">
			<dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in getDropboxTokenSettings = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
</mule>
