Updated project Code/Runtime-code/runtime(added dwk-scripts and exception for all flows)(17-Jan-2017=8-25PM)/src/main/app/googlecalendar-settings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="getGoogleCalendarSettingsFlow">
        <logger message="GoogleCalendar user ID =  #[flowVars['userId']]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT * from GOOGLE_CALENDAR_SETTINGS WHERE user_id=#[flowVars['userId']]]]></db:parameterized-query>

        </db:select>
        <logger message="get GoogleCalendar Settings= #[payload]" level="DEBUG" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload != []]">
                <dw:transform-message doc:name="Transform Message">
                <dw:input-payload doc:sample="classpath:dwScripts/buildGetCalendarSettings.dwl" mimeType="application/java"/>
                    <dw:set-payload resource="classpath:dwScripts/buildGetCalendarSettings.dwl"/>

                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message doc:name="No Results">
                <dw:input-payload doc:sample="classpath:dwScripts/buildGoogleDriveNoResultExample.dwl" mimeType="application/java"/>
          			<dw:set-payload resource="classpath:dwScripts/buildGoogleDriveNoResultExample.dwl"/>
                </dw:transform-message>
            </otherwise>
        </choice>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in getGoogleCalendarSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
    </flow>
    <flow name="postGoogleCalendarSettingsFlow">
        <logger message="POST GoogleCalendar ++++++++ #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
        <dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl" mimeType="application/java"/>
   			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl"/>
        </dw:transform-message>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO GOOGLE_CALENDAR_SETTINGS(user_id,cursor_timestamp) values(#[payload['userId']],#[payload['cursorTime']])]]></db:parameterized-query>

        </db:insert>
        <dw:transform-message doc:name="Transform Message">
        <dw:input-payload doc:sample="classpath:dwScripts/buildGoogleDriveOperationExample.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:dwScripts/buildGoogleDriveOperationExample.dwl"/>
        </dw:transform-message>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in postGoogleCalendarSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
    </flow>
    <flow name="putGoogleCalendarSettingsFlow">
        <logger message="GoogleCalendar Put payload ++++++++ #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
        <dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl" mimeType="application/java"/>
   			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl"/>
        </dw:transform-message>
        <db:update config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[UPDATE GOOGLE_CALENDAR_SETTINGS set cursor_timestamp=#[payload['cursorTime']] where user_id=#[payload['userId']]]]></db:parameterized-query>

        </db:update>
        <dw:transform-message doc:name="Transform Message">
        <dw:input-payload doc:sample="classpath:dwScripts/buildGoogleDriveOperationExample.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:dwScripts/buildGoogleDriveOperationExample.dwl"/>
        </dw:transform-message>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in putGoogleCalendarSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
    </flow>
    
    <flow name="deleteGoogleCalendarSettingsFlow">
        <db:delete config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[delete from GOOGLE_CALENDAR_SETTINGS where user_id=#[flowVars['userId']]]]></db:parameterized-query>
        </db:delete>
        <dw:transform-message doc:name="Transform Message">
        <dw:input-payload doc:sample="classpath:dwScripts/buildGoogleDriveOperationExample.dwl" mimeType="application/java"/>
            <dw:set-payload resource="classpath:dwScripts/buildGoogleDriveOperationExample.dwl"/>
        </dw:transform-message>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in deleteGoogleCalendarSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
    </flow>
</mule>
