Updated project Code/managmt-code/cisco-spark-integration-management(8Mar17)(added content in paylaod_to_java)/src/main/app/common-client-token-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	 <flow name="getClientTokenFlow">
        <logger message="integrationId=#[flowVars['integrationId']]   and   userId=#[flowVars['userId']]" level="INFO" doc:name="Logger"/>

        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/clients/{clientId}/tokens" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:query-param paramName="integrationId" value="#[flowVars['integrationId']]"/>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:uri-param paramName="clientId" value="1"/>



            </http:request-builder>
        </http:request>
        <logger message="Result = #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>

        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
    </flow>
     <flow name="getBotClientTokenFlow">
        <logger message="GETTING BOT TOKEN integrationId=#[flowVars['integrationId']]   and   privateMessage=#[flowVars['privateMessage']]" level="INFO" doc:name="Logger"/>

        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/clients/{clientId}/tokens" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:query-param paramName="integrationId" value="#[flowVars['integrationId']]"/>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:query-param paramName="privateMessage" value="#[flowVars['privateMessage']]"/>
                <http:uri-param paramName="clientId" value="1"/>




            </http:request-builder>
        </http:request>
        <logger message="Result = #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>

        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
    </flow>
    
    <flow name="postClientTokenFlow">   
   		<http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/clients/{clientId}/tokens" method="POST" doc:name="HTTP">
        	<http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:uri-param paramName="clientId" value="#[flowVars['clientId']]"/>



            </http:request-builder>
        </http:request>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>   
    </flow>
    
    <flow name="putClientTokenFlow">   
   		<http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/clients/{clientId}/tokens/{clientTokenId}" method="PUT" doc:name="HTTP">
        	<http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:uri-param paramName="clientId" value="#[flowVars['clientId']]"/>
                <http:uri-param paramName="clientTokenId" value="#[flowVars['clientTokenId']]"/>

            </http:request-builder>
        </http:request>
        <set-payload value="#['{&quot;status&quot;:&quot;Updated Record Successfully!!!!!&quot;}']" mimeType="application/json" doc:name="Set Payload"/>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>   
    </flow>
    <flow name="deleteClientTokenByIntegrationIdAndUserIdFlow">
    	<set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Set UserId"/>
        <set-variable variableName="integrationId" value="#[message.inboundProperties.'http.query.params'.integrationId]" doc:name="Set IntegrationId"/>

        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/clients/{clientId}/tokens" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:query-param paramName="integrationId" value="#[flowVars['integrationId']]"/>
                <http:uri-param paramName="clientId" value="1"/>

            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message To Json">
            <dw:set-payload resource="classpath:dwScripts/buildDeleteClientAndIntegrationTokenResponseExample.dwl"/>
        </dw:transform-message>
    </flow>
    



</mule>
