Updated project Code/managmt-code/cisco-spark-integration-management(8Mar17)(added content in paylaod_to_java)/src/main/app/post-auth-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:CiscoSpark="http://www.mulesoft.org/schema/mule/CiscoSpark" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/CiscoSpark http://www.mulesoft.org/schema/mule/CiscoSpark/current/mule-CiscoSpark.xsd">
    
    
    <flow name="postIntegrationAuthDetailsFlow">
        <dw:transform-message doc:name="Store Original Auth Details Payload">
            <dw:set-variable resource="classpath:dwScripts/storeOriginalAuthDetailsPayload.dwl" variableName="originalAuthDetailsPayload"/>
        </dw:transform-message>
        
        <enricher target="#[flowVars['integrationSettings']]" doc:name="Message Enricher">
            <flow-ref name="getIntegrationSettingsFlow" doc:name="Get Integration Settings Flow Reference"/>
        </enricher>
        
        <enricher target="#[flowVars['dynamicSettings']]" doc:name="Message Enricher">
            <flow-ref name="postDynamicIntegrationAuthDetailsFlow" doc:name="postDynamicIntegrationAuthDetailsFlow"/>
        </enricher>
        
        <dw:transform-message doc:name="Build Post Auth Details Response">
            <dw:set-payload resource="classpath:dwScripts/buildPostAuthDetailsResponse.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="postDynamicIntegrationAuthDetailsFlow">
        <set-variable variableName="dynamicHost" value="#[flowVars['integrationSettings']['host']]" doc:name="Set Dynamic Host"/>
        
        <set-variable variableName="dynamicBasePath" value="#[flowVars['integrationSettings']['basePath']]" doc:name="Set Dynamic Base Path"/>
        
        <set-variable variableName="dynamicPort" value="#[flowVars['integrationSettings']['port']]" doc:name="Set Dynamic Port"/>
        
        <dw:transform-message doc:name="Build Post Auth Details Request">
            <dw:set-payload resource="classpath:dwScripts/buildPostAuthDetailsRequest.dwl"/>
        </dw:transform-message>
        
        <http:request config-ref="HTTP_Dynamic_Request_Configuration" path="/authDetails" method="POST" doc:name="HTTP Request to Specific Integration Auth Details">
            <http:request-builder>
                <http:query-param paramName="client_id" value="${integrations.management.client.id}"/>
                <http:query-param paramName="client_secret" value="${integrations.management.client.secret}"/>


            </http:request-builder>
        </http:request>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
</mule>
