Updated project Code/managmt-code/cisco-spark-integration-management(8Mar17)(added content in paylaod_to_java)/src/main/app/post-hook.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <flow name="postHookFlow">
    	<enricher target="#[flowVars['integrationInstanceResponse']]" doc:name="Message Enricher">
        	<flow-ref name="getIntegrationInstanceFlow" doc:name="Get Integration Instance Flow Reference"/>
        </enricher>
        <set-variable variableName="integrationId" value="#[flowVars['integrationInstanceResponse']['integrationId']]" doc:name="Set Integration Id"/>
        
        <enricher target="#[flowVars['integrationSettingsResponse']]" doc:name="Message Enricher">
            <flow-ref name="getIntegrationSettingsFlow" doc:name="Get Integration Settings Flow Reference"/>
        </enricher>

        <set-variable variableName="message" value="#[flowVars['integrationSettingsResponse']['messageFormat']]" doc:name="Set Message"/>
        
        <enricher target="#[flowVars['dynamicSettings']]" doc:name="Message Enricher">
            <flow-ref name="postDynamicIntegrationMessageFormatFlow" doc:name="Post Dynamic Integration Message Format Flow Reference"/>
        </enricher>

		<set-variable variableName="roomId" value="#[flowVars['integrationSettingsResponse']['channelId']]" doc:name="Set Room Id"/>
		<set-variable variableName="formatedMessage" value="#[flowVars['dynamicSettings']['formatedMessage']]" doc:name="Set Formated Message"/>

        <enricher target="#[flowVars['postSparkMessageResponse']]" doc:name="Message Enricher">
            <flow-ref name="postSparkMessageFlow" doc:name="Post Spark Message Flow Reference"/>
        </enricher>
        
        <dw:transform-message doc:name="Build Post Hook Response">
            <dw:set-payload resource="classpath:dwScripts/buildPostHookResponse.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="postDynamicIntegrationMessageFormatFlow">
        <set-variable variableName="dynamicHost" value="#[flowVars['integrationSettings']['host']]" doc:name="Set Dynamic Host"/>
        
        <set-variable variableName="dynamicBasePath" value="#[flowVars['integrationSettings']['basePath']]" doc:name="Set Dynamic Base Path"/>
        
        <set-variable variableName="dynamicPort" value="#[flowVars['integrationSettings']['port']]" doc:name="Set Dynamic Port"/>
        
        <dw:transform-message doc:name="Build Format Message Request">
            <dw:set-payload resource="classpath:dwScripts/buildFormatMessageRequest.dwl"/>
        </dw:transform-message>
        
        <http:request config-ref="HTTP_Dynamic_Request_Configuration" path="/authDetails" method="POST" doc:name="HTTP Request to Specific Integration Auth Details">
            <http:request-builder>
                <http:query-param paramName="client_id" value="${integrations.management.client.id}"/>
                <http:query-param paramName="client_secret" value="${integrations.management.client.secret}"/>

            </http:request-builder>
        </http:request>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
</mule>
