Updated project Code/managmt-code/cisco-spark-integration-management-bot(10Feb2017=11-30AM)/target/test-classes/delete-all-integrations-instances.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	  
<flow name="deleteAllIntegrationInstanceFlow">

<set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Set UserId"/>
        <set-variable variableName="integrationId" value="#[message.inboundProperties.'http.query.params'.integrationId]" doc:name="Set IntegrationId"/>
        <set-variable variableName="messageToSparkOriginal" value="#[message.inboundProperties.'http.query.params'.messageToSpark]" doc:name="Set Spark Message "/>


        <set-variable variableName="status" value="#['ACTIVE']" doc:name="status"/>

        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/integrations/instances" method="GET" doc:name="Get All Integration Instances">
            <http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:query-param paramName="integrationId" value="#[flowVars['integrationId']]"/>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:query-param paramName="status" value="#[flowVars['status']]"/>



            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message To Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        
        <set-session-variable variableName="maap" value="#[new java.util.HashMap()]" doc:name="Set Maap"/>


        <choice doc:name="Choice">
            <when expression="#[payload.toString() != '{message=No results}']">
                <foreach doc:name="For Each">
                    <logger message="inbound properties = #[message.inboundProperties] AND #[message.inboundProperties.'http.headers']" level="INFO" doc:name="Logger"/>

                    <set-variable variableName="instanceId" value="#[payload['instanceId']]" doc:name="instanceId"/>
                    <choice doc:name="Check UserId Exists">
<when expression="#[maap.containsKey(payload['channelId'])]">
<expression-component doc:name="Expression To Append Element"><![CDATA[maap.get(payload['channelId']).add(payload['instanceUuid'])]]></expression-component>
                            <set-variable variableName="messageToSpark" value="#['']" doc:name="Set Empty value to messageToSpark"/>
</when>
<otherwise>
<set-variable variableName="uuidList" value="#[new java.util.ArrayList()]" doc:name="Create UUID List"/>
<expression-component doc:name="Expression To Add First Element"><![CDATA[uuidList.add(payload['instanceUuid']);
maap.put(payload['channelId'],uuidList)]]></expression-component>
                            <set-variable variableName="messageToSpark" value="#[flowVars['messageToSparkOriginal']]" doc:name="Set messageToSpark"/>
</otherwise>
</choice>
                    <logger message="MESSAGE TO SPARK ROOM #[flowVars['messageToSpark']]" level="INFO" doc:name="Logger"/>
                    
                    <flow-ref name="deleteIntegrationInstanceFlow" doc:name="Delete Integration Instance flow"/>

                </foreach>
            </when>
            <otherwise>
                <logger message="NOT RESULT FOUNT" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>



</mule>
