Updated project Code/managmt-code/cisco-spark-integration-management-bot(10Feb2017=11-30AM)/target/test-classes/delete-integration-token.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:CiscoSpark="http://www.mulesoft.org/schema/mule/CiscoSpark" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/CiscoSpark http://www.mulesoft.org/schema/mule/CiscoSpark/current/mule-CiscoSpark.xsd">
    
    
    <flow name="deleteIntegrationAppTokensFlow">
        <set-variable variableName="sparkToken" value="#[message.inboundProperties.'http.query.params'.sparkToken]" doc:name="Set Spark Token"/>
        <enricher target="#[flowVars['sparkProfileSettings']]" doc:name="Message Enricher">
            <flow-ref name="getSparkProfileFlow" doc:name="Get Spark User Profile Flow Reference"/>  
        </enricher>
        <enricher target="#[flowVars['deleteTokenResponse']]" doc:name="Message Enricher">
            <flow-ref name="deleteIntegrationTokenFlow" doc:name="Delete Integration Token Flow Reference"/>
        </enricher>
        <dw:transform-message doc:name="Delete Integration Token Response">
            <dw:set-payload resource="classpath:dwScripts/buildDeleteIntegrationTokenResponse.dwl"/>
        </dw:transform-message>

    </flow>

</mule>
