Updated project Code/managmt-code/cisco-spark-integration-management-bot(10Feb2017=11-30AM)/target/test-classes/get-integration-instances.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    
    <flow name="getIntegrationInstancesListFlow">
    
    <set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Set UserId"/>
        <set-variable variableName="integrationId" value="#[message.inboundProperties.'http.query.params'.integrationId]" doc:name="Set IntegrationId"/>

        
        <set-variable variableName="status" value="#['ACTIVE']" doc:name="Set Status"/>

        
        <flow-ref name="getIntegrationInstancesFlow" doc:name="getIntegrationInstancesFlow"/>
    </flow>
</mule>
