Updated project Code/managmt-code/cisco-spark-integration-management-bot(10Feb2017=11-30AM)/target/test-classes/post-integration-token.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:CiscoSpark="http://www.mulesoft.org/schema/mule/CiscoSpark" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/CiscoSpark http://www.mulesoft.org/schema/mule/CiscoSpark/current/mule-CiscoSpark.xsd">
    
    
    <flow name="postIntegrationAppTokensFlow">
    	<dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
        
        <set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Set UserId"/>
        <logger message="INTEGRATION TOKEN USERID #[flowVars['userId']] AND #[flowVars['integrationId']]" level="INFO" doc:name="Logger"/>
        <expression-component doc:name="Expression to set UserId and IntegrationId to Payload"><![CDATA[payload['userId']=flowVars['userId'];
payload['integrationId']=flowVars['integrationId'];]]></expression-component>
        <logger message="INTEGRATION TOKEN USERID #[flowVars['userId']] AND #[flowVars['integrationId']]" level="INFO" doc:name="Logger"/>

        
        <enricher doc:name="Message Enricher" target="#[flowVars['getTokenResponse']]">
            <flow-ref name="getIntegrationTokenFlow" doc:name="getIntegrationTokenFlow"/>
        </enricher>
        <logger message="HHHHHHHHHHHHHHHHHHHH #[flowVars.getTokenResponse.toString()]" level="DEBUG" doc:name="Logger"/>
        
        <choice doc:name="Choice between POST or PUT">
            <when expression="#[flowVars.getTokenResponse.toString() != '{message=No results}']">
                <dw:transform-message doc:name="Build Put Integration Request">
                    <dw:set-payload resource="classpath:dwScripts/buildPutIntegrationTokenRequest.dwl"/>
                </dw:transform-message>
                <set-variable variableName="appTokenId" value="#[flowVars['getTokenResponse'][0]['tokenId']]" doc:name="appTokenId"/>
                <enricher target="#[flowVars['updateTokenResponse']]" doc:name="Message Enricher">
                    <flow-ref name="putIntegrationTokenFlow" doc:name="putIntegrationTokenFlow"/>
                </enricher>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Build Post Integration Request">
                    <dw:set-payload resource="classpath:dwScripts/buildPostIntegrationTokenRequest.dwl"/>
                </dw:transform-message>
                <enricher target="#[flowVars['updateTokenResponse']]" doc:name="Message Enricher">
                    <flow-ref name="postIntegrationTokenFlow" doc:name="postIntegrationTokenFlow"/>
                </enricher>
            </otherwise>
        </choice>
        
        <dw:transform-message doc:name="Build Post Integration Token Response">
            <dw:set-payload resource="classpath:dwScripts/buildPostIntegrationTokenResponse.dwl"/>
        </dw:transform-message>
    </flow>
    <flow name="deleteIntegrationTokenByUserIdAndIntegrationId">
        <set-variable variableName="sparkToken" value="#[message.inboundProperties.'http.uri.params'.sparkToken]" doc:name="Set SparkToken"/>
        <enricher target="#[flowVars['getSparkProfileResponse']]" doc:name="Message Enricher">
            <flow-ref name="getSparkProfileFlow" doc:name="Get Spark Profile"/>
        </enricher>
        <set-variable variableName="userId" value="#[flowVars['getSparkProfileResponse']['id']]" doc:name="Set UserId"/>
        <set-variable variableName="integrationId" value="#[message.inboundProperties.'http.uri.params'.integrationId]" doc:name="Set integrationId"/>
        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/clients/{clientId}/tokens" method="DELETE" doc:name="Delete Integration Token">
            <http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:query-param paramName="integrationId" value="#[flowVars['integrationId']]"/>
                <http:uri-param paramName="clientId" value="1"/>

            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>

</mule>
