Updated project Code/managmt-code/cisco-spark-integration-management-bot(10Feb2017=11-30AM)/src/main/app/common-integration-token-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="getIntegrationTokenCall">
        <set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Set UserId"/>
        <flow-ref name="getIntegrationTokenFlow" doc:name="getIntegrationTokenFlow"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"tokenResult":payload[0]
	
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>

	<flow name="getIntegrationTokenFlow" >
        <logger message="integrationId=#[flowVars['integrationId']]   AND  userId=#[flowVars['userId']]" level="INFO" doc:name="Logger"/>
    	<http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/integrations/{integrationId}/appTokens" method="GET" doc:name="HTTP">
        	<http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:uri-param paramName="integrationId" value="#[flowVars['integrationId']]"/>


            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="postIntegrationTokenFlow">
        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/integrations/{integrationId}/appTokens" method="POST" doc:name="HTTP">
        	<http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:uri-param paramName="integrationId" value="#[flowVars['integrationId']]"/>


            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="putIntegrationTokenFlow">
        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/integrations/{integrationId}/appTokens/{appTokenId}" method="PUT" doc:name="HTTP">
        	<http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:uri-param paramName="integrationId" value="#[flowVars['integrationId']]"/>
                <http:uri-param paramName="appTokenId" value="#[flowVars['appTokenId']]"/>



            </http:request-builder>
        </http:request>
        <set-payload value="#['{&quot;status&quot;:&quot;Updated Record Successfully!!!!!&quot;}']" mimeType="application/json" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="deleteIntegrationTokenFlow">
        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/integrations/{integrationId}/appTokens/{appTokenId}" method="DELETE" doc:name="HTTP">
        	<http:request-builder>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:uri-param paramName="integrationId" value="#[flowVars['integrationId']]"/>
                <http:uri-param paramName="appTokenId" value="#[flowVars['appTokenId']]"/>



            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    <flow name="deleteIntegrationTokenByIntegrationIdAndUserIdFlow">
    
    <set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Set UserId"/>

        <set-variable variableName="integrationId" value="#[message.inboundProperties.'http.uri.params'.integrationId]" doc:name="Set Integration Id"/>
        <http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/integrations/{integrationId}/appTokens" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:uri-param paramName="integrationId" value="#[flowVars['integrationId']]"/>

            </http:request-builder>
        </http:request>
    	 <dw:transform-message doc:name="Transform Message To Json">
            <dw:set-payload resource="classpath:dwScripts/buildDeleteClientAndIntegrationTokenResponseExample.dwl"/>
        </dw:transform-message>
    </flow>
    

</mule>
