Updated project Code/managmt-code/cisco-spark-integration-management-bot(10Feb2017=11-30AM)/src/main/app/post-spark-token.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <flow name="postSparkTokenFlow">
        
        <dw:transform-message doc:name="Transform Payload to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
         <set-variable variableName="integrationId" value="#[payload['integrationId']]" doc:name="Set Integration Id"/>
        
        <set-variable variableName="clientId" value="#[1]" doc:name="Set Spark Client ID "/>
        
        <set-variable variableName="sparkToken" value="#[payload['accessToken']]" doc:name="sparkToken"/>
        <set-variable variableName="userId" value="#[payload['userId']]" doc:name="Set UserId"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars['userId'] == empty]">
                <enricher target="#[flowVars['sparkProfileSettings']]" doc:name="Message Enricher">
                    <flow-ref name="getSparkProfileFlow" doc:name="getSparkProfileFlow"/>
                </enricher>
                <logger message="USER ID #[flowVars.sparkProfileSettings.id] and profile Settings #[flowVars.sparkProfileSettings]" level="DEBUG" doc:name="Logger"/>
                <set-variable variableName="userId" value="#[flowVars.sparkProfileSettings.id]" doc:name="Set User Id"/>
            </when>
            <otherwise>
                <logger message="USER  ID EXISTS!!!!!!!!" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <expression-component doc:name="Update Or Add UserId"><![CDATA[payload['userId'] = flowVars['userId']]]></expression-component>
        <logger message="CURRENT USERID #[flowVars['userId']] #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>


        <enricher doc:name="Message Enricher" target="#[flowVars['getClientTokenResponse']]">
            <flow-ref name="getClientTokenFlow" doc:name="Get Client Token Flow Reference"/>
        </enricher>
        <logger message="#[flowVars['getClientTokenResponse'][0] == empty] CHECKER #[flowVars['getClientTokenResponse']]" level="DEBUG" doc:name="Logger"/>
        
   		<choice doc:name="Choice between POST or PUT">
            <when expression="#[flowVars.getClientTokenResponse.toString() != '{message=No results}']">
                <set-variable variableName="clientTokenId" value="#[flowVars['getClientTokenResponse'][0]['clientTokenId']]" doc:name="clientTokenId"/>
                <dw:transform-message doc:name="Build Put Integration Request">
                    <dw:set-payload resource="classpath:dwScripts/buildPutSparkTokenRequest.dwl"/>
                </dw:transform-message>
                <enricher target="#[flowVars['clientTokenResponse']]" doc:name="Message Enricher">
                     <flow-ref name="putClientTokenFlow" doc:name="Put Client Token Flow Reference"/>
                </enricher>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Build Post Integration Request">
                    <dw:set-payload resource="classpath:dwScripts/buildPostSparkTokenRequest.dwl"/>
                </dw:transform-message>
                <enricher target="#[flowVars['clientTokenResponse']]" doc:name="Message Enricher">
                     <flow-ref name="postClientTokenFlow" doc:name="Post Client Token Flow Reference"/>
                </enricher>
            </otherwise>
        </choice>
        
        <dw:transform-message doc:name="Build Post Spark Token Response">
      		<dw:set-payload resource="classpath:dwScripts/buildPostSparkTokenResponse.dwl"/>
   		</dw:transform-message>

    </flow>

    
</mule>
