Updated project Code/runtime(added dwk-scripts and exception for all flows)(17-Jan-2017=8-25PM)/src/main/app/client-app-settings-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<flow name="getAllClientAppSettingsFlow">
		<db:select config-ref="MySQL_Configuration" doc:name="Get Token">
			<db:parameterized-query><![CDATA[SELECT * FROM CLIENT_APP_SETTINGS WHERE client_id = #[flowVars['clientId']]]]></db:parameterized-query>
		</db:select>
		<choice doc:name="Check Result Set Size">
			<when expression="#[payload != []]">
				<dw:transform-message doc:name="Build Get All Client App Settings Response">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildGetAllClientAppSettingsResponse.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildGetAllClientAppSettingsResponse.dwl" />
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Build No Results Message">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildSelectNoResultsResponse.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildSelectNoResultsResponse.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in getAllClientAppSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>

	<flow name="getClientAppSettingsFlow">
		<db:select config-ref="MySQL_Configuration" doc:name="Get Token">
			<db:parameterized-query><![CDATA[SELECT * FROM CLIENT_APP_SETTINGS WHERE client_app_settings_id = #[flowVars['appSettingsId']]]]></db:parameterized-query>

		</db:select>
		<choice doc:name="Check Result Set Size">
			<when expression="#[payload != []]">
				<dw:transform-message doc:name="Build Get Client App Settings Response">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildGetClientAppSettingsResponse.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildGetClientAppSettingsResponse.dwl" />
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Build No Results Message">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildSelectNoResultsResponse.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildSelectNoResultsResponse.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in getClientAppSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>

	<flow name="postClientAppSettingsFlow">
		<dw:transform-message doc:name="Transform Payload to Java">
			<dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl" />
		</dw:transform-message>
		<db:insert config-ref="MySQL_Configuration" doc:name="Insert Integration Instance"
			autoGeneratedKeys="true" autoGeneratedKeysColumnNames="token_id">
			<db:parameterized-query><![CDATA[INSERT INTO CLIENT_APP_SETTINGS (client_id, application_id, access_client_id, access_client_secret, username, password, grant_type, scope) VALUES (#[payload['clientId']], #[payload['applicationId']], #[payload['accessClientId']], #[payload['accessClientSecret']], #[payload['username']], #[payload['password']], #[payload['grantType']], #[payload['scope']])]]></db:parameterized-query>
		</db:insert>
		<dw:transform-message doc:name="Build Success Response">
			<dw:input-payload
				doc:sample="classpath:dwScripts/buildInsertSuccessResponse.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/buildInsertSuccessResponse.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in postClientAppSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>

	<flow name="putClientAppSettingsFlow">
		<dw:transform-message doc:name="Transform Payload to Java">
			<dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl" />
		</dw:transform-message>
		<db:update config-ref="MySQL_Configuration" doc:name="Update Token">
			<db:parameterized-query><![CDATA[UPDATE CLIENT_APP_SETTINGS SET  
access_client_id = IF (#[payload['accessClientId'] != empty], #[payload['accessClientId']], access_client_id), 
access_client_secret = IF (#[payload['accessClientSecret'] != empty], #[payload['accessClientSecret']], access_client_secret), 
username = IF (#[payload['username'] != empty], #[payload['username']], username), 
password = IF (#[payload['password'] != empty], #[payload['password']], password), 
grant_type = IF (#[payload['grantType'] != empty], #[payload['grantType']], grant_type), 
scope = IF (#[payload['scope'] != empty], #[payload['scope']], scope)
WHERE client_app_settings_id = #[flowVars['appSettingsId']]]]></db:parameterized-query>
		</db:update>
		<dw:transform-message doc:name="Build Success Response">
			<dw:input-payload
				doc:sample="classpath:dwScripts/buildUpdateSuccessResponse.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/buildUpdateSuccessResponse.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in putClientAppSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>

	<flow name="deleteClientAppSettingsFlow">
		<db:delete config-ref="MySQL_Configuration" doc:name="Delete Token">
			<db:parameterized-query><![CDATA[DELETE FROM CLIENT_APP_SETTINGS WHERE client_app_settings_id = #[flowVars['appSettingsId']]]]></db:parameterized-query>
		</db:delete>
		<dw:transform-message doc:name="Build Success Response">
			<dw:input-payload
				doc:sample="classpath:dwScripts/buildDeleteSuccessResponse.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/buildDeleteSuccessResponse.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in deleteClientAppSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
	<flow name="getClientApplicationsSettingsFlow">
		<db:select config-ref="MySQL_Configuration" doc:name="Get all Integrations">
			<db:parameterized-query><![CDATA[SELECT * FROM CLIENT_APP_SETTINGS ORDER BY application_id]]></db:parameterized-query>



		</db:select>
		<choice doc:name="Check Result Set Size">
			<when expression="#[payload != []]">
				<dw:transform-message doc:name="Build Get Applications Response">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildGetApplicationsSettingsResponse.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildGetApplicationsSettingsResponse.dwl" />

				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Build No Results Message">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildSelectNoResultsResponse.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildSelectNoResultsResponse.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in getClientApplicationsSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>

	<flow name="getClientApplicationSettingsFlow">
		<db:select config-ref="MySQL_Configuration" doc:name="Get Integration details">
			<db:parameterized-query><![CDATA[SELECT * FROM CLIENT_APP_SETTINGS WHERE integration_id = #[flowVars['integrationId']]]]></db:parameterized-query>
		</db:select>

		<choice doc:name="Check Result Set Size">
			<when expression="#[payload != []]">
				<dw:transform-message doc:name="Build Get Application Response">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildGetApplicationSettingsResponse.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildGetApplicationSettingsResponse.dwl" />

				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Build No Results Message">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildSelectNoResultsResponse.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildSelectNoResultsResponse.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in getClientApplicationSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>

</mule>
