Updated project Code/runtime(added dwk-scripts and exception for all flows)(17-Jan-2017=8-25PM)/src/main/app/sharepoint-settings-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="getSharePointSettingsFlow">
		<logger message="ENVIDDDDDDD #[flowVars.userId]" level="INFO"
			doc:name="Logger" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * from SHAREPOINT_CURSOR_SETTINGS where user_id=#[flowVars['userId']]]]></db:parameterized-query>
		</db:select>
		<logger message="get GD Settings= #[payload]" level="INFO"
			doc:name="Logger" />
		<choice doc:name="Choice">
			<when expression="#[payload != []]">
				<dw:transform-message doc:name="Transform Message">
					<dw:input-payload doc:sample="classpath:dwScripts/buildSharePointSettings.dwl"
						mimeType="application/java" />
					<dw:set-payload resource="classpath:dwScripts/buildSharePointSettings.dwl" />
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="No Results">
					<dw:input-payload
						doc:sample="classpath:dwScripts/buildGoogleDriveNoResultExample.dwl"
						mimeType="application/java" />
					<dw:set-payload
						resource="classpath:dwScripts/buildGoogleDriveNoResultExample.dwl" />
				</dw:transform-message>
			</otherwise>
		</choice>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy"
				logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in getSharePointSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
	<flow name="postSharePointSettingsFlow">
		<logger message="PAYDOCUSIGN #[message.payloadAs(java.lang.String)]"
			level="INFO" doc:name="Logger" />
		<dw:transform-message doc:name="Transform Message">
			<dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl" />
		</dw:transform-message>
		<db:insert config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[INSERT INTO SHAREPOINT_CURSOR_SETTINGS(token_id, user_id, delta_id) values(#[payload['tokenId']],#[payload['userId']],#[payload['deltaId']])]]></db:parameterized-query>
		</db:insert>
		<dw:transform-message doc:name="Transform Message">
			<dw:input-payload
				doc:sample="classpath:dwScripts/buildGoogleDriveOperationExample.dwl"
				mimeType="application/java" />
			<dw:set-payload
				resource="classpath:dwScripts/buildGoogleDriveOperationExample.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy"
				logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in postSharePointSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>

	<flow name="putSharePointSettingsFlow">
		<dw:transform-message doc:name="Transform Message">
			<dw:input-payload doc:sample="classpath:dwScripts/fromObjectToJava.dwl"
				mimeType="application/java" />
			<dw:set-payload resource="classpath:dwScripts/fromObjectToJava.dwl" />
		</dw:transform-message>
		<db:update config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[UPDATE SHAREPOINT_CURSOR_SETTINGS set delta_id=IF (#[payload['deltaId'] != empty], #[payload['deltaId']], delta_id) where user_id=#[flowVars['userId']]]]></db:parameterized-query>
		</db:update>
		<dw:transform-message doc:name="Transform Message">
			<dw:input-payload
				doc:sample="classpath:dwScripts/buildGoogleDriveOperationExample.dwl"
				mimeType="application/java" />
			<dw:set-payload
				resource="classpath:dwScripts/buildGoogleDriveOperationExample.dwl" />
		</dw:transform-message>
		<choice-exception-strategy doc:name="Choice Exception Strategy">
			<catch-exception-strategy doc:name="Catch Exception Strategy"
				logException="false">
				<set-variable variableName="exception" value="#[exception.message]"
					doc:name="exception" />
				<logger
					message="Exception in putSharePointSettingsFlow = #[flowVars['exception']]"
					level="INFO" doc:name="Logger" />

			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
</mule>
