Code to modify/testtrellobot/target/classes/testtrellobot.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8845" doc:name="HTTP Listener Configuration"/>
    <flow name="TestTrelloBotFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test/trello/bot" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="req"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <expression-component doc:name="Expression"><![CDATA[flowVars.fields=flowVars.req.text.substring(flowVars.req.text.indexOf("|")+1).trim();
System.out.println("fields = " + fields);
flowVars.fields=flowVars.fields.split(" \\| ");
System.out.println("Next fields = " + fields);]]></expression-component>
        <logger message="#[message.payloadAs(java.lang.String)] +++++#[flowVars.fields.size()] +++#[flowVars.fields[0]]+++++#[flowVars.fields[1]]+++++++#[flowVars.fields[2]]" level="INFO" doc:name="Logger"/>
        <flow-ref name="Delete-Member-From-Board-Action" doc:name="Delete-Member-From-Board-Action"/>
        <logger message="complete" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
