Code to modify/testtrellobot/target/classes/trelloboardsoperations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:Trello="http://www.mulesoft.org/schema/mule/Trello" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/Trello http://www.mulesoft.org/schema/mule/Trello/current/mule-Trello.xsd">
    <flow name="List-All-Boards">
        <http:request config-ref="HTTP_Trello_Api" path="/members/me/boards" method="GET" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <dw:transform-message doc:name="Transform Message To Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        
    </flow>
    <flow name="List-all-lists-By-BoardId">
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/lists" method="GET" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <dw:transform-message doc:name="Transform Message To Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="List-Members-On-Board">
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/members" method="GET" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="Get-Board-Details-By-Id">
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]" method="GET" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="Add-Board">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"name": flowVars['boardName']
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Trello_Api" path="/boards" method="POST" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars.httpStatus,
	"APIResponse":payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="Board-Closed">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"value":true
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/closed" method="PUT" doc:name="Hti Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set API Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars.httpStatus,
	"APIResponse":payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    <flow name="Board-Un-Closed">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"value": false
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/closed" method="PUT" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set API Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars['httpStatus'],
	"APIResponse":payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    <flow name="List-cards-On-Board">

        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/cards" method="GET" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars['httpStatus'],
	"APIResponse":payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>

    <flow name="Add-List-To-Board">

        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"name": flowVars['listName']
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/lists" method="POST" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars.httpStatus,
	"APIResponse":payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="Mark-Board-As-Viewed">

        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/markAsViewed" method="POST" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars.httpStatus,
	"APIResponse":payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="Add-Label-To-Board">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"name": flowVars['labelName'],
	"color": flowVars['labelColor']
}]]></dw:set-payload>
        </dw:transform-message>

        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/labels" method="POST" doc:name="Hit Trello API">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars['httpStatus'],
	"APIResponse": payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="Is-Board-Stared">

        <http:request config-ref="HTTP_Trello_Api" path="/boards/[board_id]/boardStars" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars['httpStatus'],
	"APIResponse": payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>

    <flow name="Subscribe-To-Board">

        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"value": true
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/subscribed" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars['httpStatus'],
	"APIResponse": payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    <flow name="Un-Subscribe-To-Board">

        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"value": false
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/subscribed" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars['httpStatus'],
	"APIResponse": payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    
    <flow name="Add-Member-To-Board">

        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"email": flowVars['userEmail']
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/members" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars['httpStatus'],
	"APIResponse": payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    <flow name="Delete-Member-From-Board">
        <http:request config-ref="HTTP_Trello_Api" path="/boards/#[flowVars['board_id']]/members/#[flowVars['memberUsername']]" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="key" value="b9c58b0395595589e09277852cc88329"/>
                <http:query-param paramName="token" value="17d3f230d8863ed87691c877b577d35881f709e86ccc48c58909582898415836"/>

            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <set-variable variableName="httpStatus" value="#[message.inboundProperties.'http.status']" doc:name="Set Http Status"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"statusFromAPI": flowVars['httpStatus'],
	"APIResponse": payload
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
</mule>
