Code to modify/cisco-spark-cupgroup-integration/target/test-classes/codeship/codeship-api-calls.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
 	<flow name="postCodeshipTokenFlow">
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/buildPostCodeshipTokenResponseExample.dwl"/>
        </dw:transform-message>
    </flow>
    <flow name="generateWebhookUrlFlow2">
        <set-variable variableName="instanceUuid" value="#[function:uuid]" doc:name="Generating Instance Uuid"/>
        <set-variable variableName="webhookUrl" value="https://${codeship.webhook.domain}/api/hooks/#[flowVars['instanceUuid']]" doc:name="Generating Webhook Url"/>
        <logger message="webhook ::::::::::::::::::#[flowVars['webhookUrl']]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/buildGenerateWebhookResopnse.dwl"/>
        </dw:transform-message>

    </flow>
    <flow name="updateCodeshipIntegrationFlow">
        <dw:transform-message doc:name="Transform Update Response">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
</mule>
