Code to modify/cisco-spark-MMXGroup-integration/src/main/app/marketo/marketo-api-calls.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
  	
  	<http:request-config name="HTTP_Access_Token_Request_Configuration_Marketo" protocol="HTTPS" host="${marketo.api.access.token.host}" port="${marketo.api.access.token.port}"  doc:name="HTTP Request Configuration"/>
  	
 	<http:request-config name="HTTP_Operations_Request_Configuration" protocol="HTTPS" host="${marketo.api.operations.host}" port="${marketo.api.operations.port}" basePath="${marketo.api.operations.base.path}" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Access_Token_Request_Configurations" host="${marketo.api.access.token.host}" port="${marketo.api.access.token.port}" doc:name="HTTP Request Configuration" basePath="${marketo.api.access.token.base.path}" protocol="HTTPS"/>

    <flow name="generateWebhookUrl">
        <set-variable variableName="instanceUuid" value="#[function:uuid]" doc:name="Generating Instance Uuid"/>
        <set-variable variableName="webhookUrl" value="https://${marketo.webhook.domain}/api/hooks/#[flowVars.instanceUuid]" doc:name="Generating Webhook Url"/>
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/buildGenerateWebhookResopnse.dwl"/>
        </dw:transform-message>
    </flow>
    <flow name="updateIntegrationMarketoFlow">
        <dw:transform-message doc:name="Transfor update Reponse">
        <dw:input-payload  mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="checkReferenceStatusCodeFlow">
        <validation:is-true expression="#[message.inboundProperties.'http.status' != 401 &amp;&amp; message.inboundProperties.'http.status' != 429]" doc:name="Validation"/>
    </flow>

</mule>
