Code to modify/cisco-spark-integration-management-webhook-MsgChg/src/main/app/common-core-services-invocations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    
    <http:request-config name="HTTP_Coreservices_Request_Configuration" protocol="HTTPS" host="${core.services.host}" port="${core.services.port}" basePath="${core.services.path}" doc:name="HTTP Request Configuration"/>
    
    <flow name="coreServicesAlertsFlow">
        <async doc:name="Async">
            <dw:transform-message doc:name="Build Alert Request">
                <dw:set-payload resource="classpath:dwScripts/buildCoreServicesAlertRequest.dwl"/>
            </dw:transform-message>
            <http:request config-ref="HTTP_Coreservices_Request_Configuration" path="/alerts" method="POST" doc:name="HTTP">
                <http:request-builder>
                    <http:query-param paramName="client_id" value="${integrations.management.client.id}"/>
                    <http:query-param paramName="client_secret" value="${integrations.management.client.secret}"/>

                </http:request-builder>
            </http:request>
            <logger level="INFO" doc:name="Logger" message="#['Alert sent to Core Services']"/>
        </async>
        <catch-exception-strategy enableNotifications="false" logException="false" doc:name="Catch Exception Strategy">
            <logger level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    
    <flow name="coreServicesLoggingFlow">
        <async doc:name="Async">
            <dw:transform-message doc:name="Build Logging Request">
                <dw:set-payload resource="classpath:dwScripts/buildCoreServicesLoggingRequest.dwl"/>
            </dw:transform-message>
            <http:request config-ref="HTTP_Coreservices_Request_Configuration" path="/logging" method="POST" doc:name="HTTP">
            	 <http:request-builder>
                    <http:query-param paramName="client_id" value="${integrations.management.client.id}"/>
                    <http:query-param paramName="client_secret" value="${integrations.management.client.secret}"/>
                </http:request-builder>
            </http:request>
             <logger level="ERROR" doc:name="Logger" message="#['Error communicating with Core Services']"/>
        </async>
        <catch-exception-strategy enableNotifications="false" logException="false" doc:name="Catch Exception Strategy">
             <logger level="ERROR" doc:name="Logger" message="#['Error communicating with Core Services']"/>
        </catch-exception-strategy>
    </flow>
    
    <flow name="coreServicesTrackingFlow">
        <async doc:name="Async">
            <dw:transform-message doc:name="Build Tracking Request">
                <dw:set-payload resource="classpath:dwScripts/buildCoreServicesTrackingRequest.dwl"/>
            </dw:transform-message>
            <http:request config-ref="HTTP_Coreservices_Request_Configuration" path="/tracking" method="POST" doc:name="HTTP">
            	 <http:request-builder>
                    <http:query-param paramName="client_id" value="${integrations.management.client.id}"/>
                    <http:query-param paramName="client_secret" value="${integrations.management.client.secret}"/>
                </http:request-builder>
            </http:request>
            <logger level="INFO" doc:name="Logger" message="#['Tracking sent to Core Services']"/>
        </async>
        <catch-exception-strategy enableNotifications="false" logException="false" doc:name="Catch Exception Strategy">
            <logger level="ERROR" doc:name="Logger" message="#['Error communicating with Core Services']"/>
        </catch-exception-strategy>
    </flow>
</mule>
