Code to modify/cisco-spark-integration-management-webhook-MsgChg/src/main/app/common-spark-api-invocation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:CiscoSpark="http://www.mulesoft.org/schema/mule/CiscoSpark" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/CiscoSpark http://www.mulesoft.org/schema/mule/CiscoSpark/current/mule-CiscoSpark.xsd">
    
    <flow name="getSparkMessagesById">
        <logger message="getSparkMessagesById ==&gt; messageId = #[flowVars['messageId']]  :::::::::::::::::: Bearer #[flowVars['sparkToken']]" level="DEBUG" doc:name="Logger"/>
        <CiscoSpark:get-messages-by-id config-ref="CiscoSpark__Configuration" messageId="#[flowVars['messageId']]" token="Bearer #[flowVars['sparkToken']]" doc:name="CiscoSpark"/>
		<async doc:name="Async">
			<set-variable variableName="trackingId" value="#[payload.trackingID]"
				doc:name="Set Traking Id" />
			<set-variable variableName="statusCode" value="#[payload.statusCode]"
				doc:name="Set Status Code" />
			<set-variable variableName="statusMessage" value="#[payload.statusMessage]"
				doc:name="Set Status Message" />
			<set-variable variableName="requestType" value="#['POST']"
				doc:name="Set Request Type" />
			<set-variable variableName="params" value="#['postSparkMessageFlow']"
				doc:name="Set params" />
			<flow-ref name="trackingDetailsFlow" doc:name="Save Tracking Details" />
		</async>    
    </flow>
    
    <flow name="postSparkMessageFlow">
		<logger
			message="postSparkMessageFLow before Spark Connector ==&gt; RoomId = #[flowVars['roomId']] ::::::::::::::::::: Message = #[flowVars['messageToSpark']] :::::::::::::: Spark Token = #[flowVars['sparkToken']]"
			level="DEBUG" doc:name="Logger" />
		<CiscoSpark:post-messages config-ref="CiscoSpark__Configuration"
			token="Bearer #[flowVars['sparkToken']]" doc:name="CiscoSpark">
			<CiscoSpark:messages-post-request
				roomId="#[flowVars['roomId']]" markdown="#[flowVars['messageToSpark']]" />
		</CiscoSpark:post-messages>
		<logger
			message="POSTING MESSAGE TO SPARK ROOMMMMMMM #[message.payloadAs(java.lang.String)] #[payload.statusCode] and #[payload.statusMessage] "
			level="DEBUG" doc:name="Logger" />
		<logger message="#[message.inboundProperties] INBOUDN PROPERTIES"
			level="DEBUG" doc:name="Logger" />
		<logger message="#[message.outboundProperties] OUTBOUND PROPERTIES"
			level="DEBUG" doc:name="Logger" />
		<async doc:name="Async">
			<set-variable variableName="trackingId" value="#[payload.trackingID]"
				doc:name="Set Traking Id" />
			<set-variable variableName="statusCode" value="#[payload.statusCode]"
				doc:name="Set Status Code" />
			<set-variable variableName="statusMessage" value="#[payload.statusMessage]"
				doc:name="Set Status Message" />
			<set-variable variableName="requestType" value="#['POST']"
				doc:name="Set Request Type" />
			<set-variable variableName="params" value="#['postSparkMessageFlow']"
				doc:name="Set params" />
			<flow-ref name="trackingDetailsFlow" doc:name="Save Tracking Details" />
		</async>
	</flow>
    
</mule>
