Updated project Code/xMatters/Map/cisco-spark-xMatters-integration(newCode)/src/main/app/xMatters-api-calls.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
  	
  	<http:request-config name="HTTP_Access_Token_Request_Configuration" protocol="HTTPS" host="${xMatters.api.access.token.host}" port="${xMatters.api.access.token.port}"  doc:name="HTTP Request Configuration"/>
  	
 	<http:request-config name="HTTP_Operations_Request_Configuration" protocol="HTTPS" host="${xMatters.api.operations.host}" port="${xMatters.api.operations.port}" basePath="${xMatters.api.operations.base.path}" doc:name="HTTP Request Configuration"/>
     
    <flow name="postxMattersTokenFlow">
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/buildPostxMattersTokenResponseExample.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="getxMattersUserFlow">
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/user" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>
            </http:request-builder>
        </http:request>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
	<flow name="getxMattersRepositoriesFlow">
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>
            </http:request-builder>
        </http:request>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="postxMattersHookFlow">
        <dw:transform-message doc:name="Build Post xMatters Hook Request">
            <dw:set-payload resource="classpath:dwScripts/buildPostxMattersHookRequest.dwl"/>
        </dw:transform-message>
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}/{repository}/hooks" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:uri-param paramName="user" value="#[flowVars.repository]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>
            </http:request-builder>
        </http:request>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="putxMattersHookFlow">
        <dw:transform-message doc:name="Build Put xMatters Hook Request">
            <dw:set-payload resource="classpath:dwScripts/buildPutxMattersHookRequest.dwl"/>
        </dw:transform-message>
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}/{repository}/hooks/{hookId}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:uri-param paramName="repository" value="#[flowVars.repository]"/>
                <http:uri-param paramName="hook" value="#[flowVars.hook]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>
            </http:request-builder>
        </http:request>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="deletexMattersHookFlow">
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}/{repository}/hooks/{hookId}" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:uri-param paramName="repository" value="#[flowVars.repository]"/>
                <http:uri-param paramName="hook" value="#[flowVars.hook]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>
            </http:request-builder>
        </http:request>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    <flow name="generateWebhookUrlFlow">
        <set-variable variableName="instanceUuid" value="#[function:uuid]" doc:name="Generating Instance Uuid"/>
        <set-variable variableName="webhookUrl" value="https://${xMatters.webhook.domain}/api/hooks/#[flowVars['instanceUuid']]" doc:name="Generating Webhook Url"/>
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/buildGenerateWebhookResopnse.dwl"/>
        </dw:transform-message>
    </flow>
    <flow name="updatexMattersIntegrationFlow">
        <dw:transform-message doc:name="Transform Update Response">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
</mule>
