Code to modify/cisco-spark-MMXGroup-integration/src/main/app/mailchimp/integration-token-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:request-config name="HTTP_Integrations_Runtime_Request_Configuration" protocol="HTTPS" host="${integrations.runtime.host}" port="${integrations.runtime.port}" basePath="${integrations.runtime.path}" doc:name="HTTP Request Configuration" tlsContext-ref="tls.context"/>

	<flow name="getIntegrationTokenFlow" >
        <logger message="Get Token from Runtime = user id : #[flowVars['userId']] :::: integrationid :  #[flowVars['integrationId']]" level="DEBUG" doc:name="Logger"/>

    	<http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration" path="/integrations/{integrationId}/appTokens" method="GET" doc:name="HTTP">
        	<http:request-builder>
                <http:query-param paramName="userId" value="#[flowVars['userId']]"/>
                <http:query-param paramName="client_id" value="${runtime.clientidenforcement.id}"/>
                <http:query-param paramName="client_secret" value="${runtime.clientidenforcement.secret}"/>
                <http:uri-param paramName="integrationId" value="#[flowVars['integrationId']]"/>


            </http:request-builder>
            <http:failure-status-code-validator values="500..599"/>
        </http:request>

        <dw:transform-message doc:name="Build GetIntegration Token Response">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJavaOneResult.dwl"/>
        </dw:transform-message>
        <catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
            <set-variable variableName="exception" value="#[exception.message]" doc:name="exception"/>
            <set-variable variableName="getPayload" value="#[message.payloadAs(java.lang.String)]" doc:name="Get Payload"/>
            <logger message="exception = #[flowVars['exception']] ++++++ payload = #[flowVars['getPayload']]" level="INFO" doc:name="Logger"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload resource="classpath:dwScripts/buildGetTokensFromRuntimeExceptionExample.dwl"/>
            </dw:transform-message>
        </catch-exception-strategy>
    </flow>
    

</mule>
