Code to modify/cisco-spark-office365calendar-integration-Msg/src/main/app/integration-token-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

	<flow name="getIntegrationTokenFlow">
		<logger
			message="intgr token inId=#[flowVars['integrationId']]        userId=#[flowVars['userId']]"
			level="DEBUG" doc:name="Logger" />
		<http:request config-ref="HTTP_Integrations_Runtime_Request_Configuration"
			path="/integrations/{integrationId}/appTokens" method="GET" doc:name="HTTP">
			<http:request-builder>
				<http:query-param paramName="client_id"
					value="${office365Calendar.integration.client.id}" />
				<http:query-param paramName="client_secret"
					value="${office365Calendar.integration.client.secret}" />
				<http:query-param paramName="userId" value="#[flowVars['userId']]" />
				<http:uri-param paramName="integrationId"
					value="#[flowVars['integrationId']]" />
			</http:request-builder>
			<http:failure-status-code-validator
				values="500..599" />
		</http:request>
        <logger message="Token From Runtime = #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
		<dw:transform-message doc:name="Transform Response to Java">
			<dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl" />
		</dw:transform-message>
        
		<catch-exception-strategy doc:name="Catch Exception Strategy" logException="false">
            <logger message="Exception In Runtime Call = #[exception.message] +++++++ Payload = #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
			<dw:transform-message doc:name="No Results">
				<dw:set-payload resource="classpath:dwScripts/buildNoResultsResponseInGetIntegrationTokenExample.dwl"/>
			</dw:transform-message>
		</catch-exception-strategy>
	</flow>
</mule>
